#file-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9rem;
    table-layout: fixed;

}


#file-list-table th {
    /* background-color: var(--color-bg-soft); */
    color: var(--color-text);
    font-weight: bold;
    text-align: left;
    padding: 12px 16px;
    border-bottom: 1px solid var(--color-accent);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

#file-list-table td {
    padding: 10px 16px;
    border: none;
    border-top: 1px solid var(--color-primary-dark);
    border-bottom: 1px solid var(--color-primary-dark);

    color: #3c4043;
    background-color: white;
}



#file-list-table td,
#file-list-table th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#file-list-table tbody tr:hover {
    background-color: #0d2430;
    cursor: default;
}

.file-list {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}

#fileList {
    display: flex;
    flex-direction: column;
}

.file-table-entry {
    display: flex;
    justify-content: space-between;
    padding: 8px;

}