html,
body {
    color: var(--color-text);
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --color-primary: #0d9488;
    --color-primary-dark: #0f766e;
    --color-primary-light: #5eead4;
    --color-bg: #ffffff;
    --color-bg-soft: #f1f5f4;
    --color-text: #374151;
    --color-text-light: #0f766e;
    --color-text-dark: #134e4a;
}